<p class="csui-messageBox"><span>{{message}}</span></p>
{{#if fileName}}
  <p class="csui-messageBox"><span>{{fileName}}</span></p>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->