<button type="button" aria-label="{{reservedAria}}">
<span class="icon {{iconPrefix}}_{{#if isReservedByOther}}other{{else}}self{{/if}}"
        title="{{reservedTooltip}}"></span>
</button>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->