
<li class="csui-facet-item zero-height">
  <a tabindex="-1">
  <span class="csui-label">{{label}}</span>
  <span class="csui-icon binf-close" data-facet="{{facetIndex}}" data-topic="{{topicIndex}}"></span>
  </a>
</li>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->