{{#if value}}
  <div class="csui-permission-level-container csui-fadeout">
    <span class="csui-permission-level" aria-label="{{permissionLevelAria}}">{{value}}</span>
    <div class="csui-tree"></div>
  </div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->