<div class="cs-header-control csui-permissions-folder">
  {{#if back_button}}
    <div class="csui-arrow-container">
      <span class="icon arrow_back_white cs-go-back" title="{{go_back_tooltip}}">
      </span>
    </div>
  {{/if}}
  <div class="csui-permission-header-name-container">
    <div class="title csui-permission-header-name csui-fadeout" tabindex="0" title="{{name}}">
      <span>
        {{name}}
      </span>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->