<div class="csui-td-content-edit">
  <input type="text" value="{{formattedValue}}" placeholder="{{inputPlaceholder}}" class="binf-form-control">
  {{#if useEditCancelIcon}}
    <span class="csui-undo edit-cancel inline-edit-icon"></span>
  {{else}}
    <button class="csui-undo csui-btn-cancel binf-btn">{{CancelButtonLabel}}</button>
  {{/if}}
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->