<div class="conws-boresultlist-body">
  <div class="conws-boresulttable">
    {{#if banner_message}}
      <div class="conws-boresultbanner-container">
        <div class="conws-boresultbanner">{{banner_message}}</div>
      </div>
    {{/if}}
  </div>
  <div class="conws-boresultfooter">
    <div class="conws-boresultfooter-message-container  binf-modal-footer">
      <div class="conws-boresultfooter-message">{{footer_message}}</div>
    </div>
    <div class="conws-boresultfooter-attach-container  binf-modal-footer">
      <button type="button" disabled class="binf-btn binf-btn-default attach">{{attach_button_text}}</button>
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->