<div class="csui-title-container">
	{{#if back_button}}
		<span class="icon arrow_back cs-go-back" title="{{go_back_tooltip}}" role="link"></span>
	{{/if}}
	<span id="" class="title">{{webreport_name}}</span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->