<div class="csui-tabletoolbar tile-nav" aria-label="{{toolbarAria}}" role="toolbar">
  <div class="csui-filterToolbar" ></div>
  <div class="csui-addToolbar" ></div>
  <div class="csui-leftToolbar" ></div>
  <div class="csui-otherToolbar" ></div>
  <div class="csui-toolbar-caption" ></div>
  <div class="csui-rightToolbar" ></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->