<div class="conws-bosearch-wrapper">
  <div class="conws-bosearch-panel">
    <div class="conws-bosearch-title">
      {{bosearch_title}}
    </div>
    <div class="conws-bosearch-form">
    </div>
    <div class="conws-bosearch-result">
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->