<div class="csui-favorites-icon-container" title="{{title}}" aria-label="{{favoritesTitleAria}}" role="button" aria-haspopup="true" aria-expanded="false">
  <span class="csui-icon-favorites favorite_header_icon"></span>
</div>
<div class="csui-favorites-view-container"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->