<div id="esoc-social-chat-title" class="esoc-social-chat-title">Chat</div>
<div id="esoc-social-chat-title-actions" class="esoc-social-chat-title-actions">
  <span id="esoc-social-chat-minimize-button" class="esoc-social-chat-minimize-button"
        title="Minimize"></span>
  <span id="esoc-social-chat-close-button" class="esoc-social-chat-close-button"
        title="Close"></span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->