<div id="esoc-social-chat-container">
  <div id="esoc-social-chat-title-bar" class="esoc-social-chat-title-bar"></div>
  <div id="esoc-chat-body" class="esoc-social-chat-body"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->