<div class="esoc-social-chat-minimized-icon">
  <div class="esoc-social-chat-circle" />
  <div class="esoc-social-chat-icon" />
  <div class="esoc-social-chat-label">chat</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->