<div class="conws-addoreditrole-rolepermissions">
    <div class="conws-addoreditrole-rolepermissions-header"></div>
    <div class="conws-addoreditrole-rolepermissions-picker-header">
        <div class="conws-addoreditrole-rolepermissions-left">
            <div class="conws-addoreditrole-rolepermissions-back"></div>
            <div class="conws-addoreditrole-rolepermissions-title"></div>
        </div>
        <div class="conws-addoreditrole-rolepermissions-right">
        </div>
    </div>
    <div class="conws-addoreditrole-rolepermissions-picker"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->