<div class="workitem-row binf-row">
  <div class="workitem-view-left binf-col-md-8 binf-col-sm-8 binf-col-xs-12">
    <div class="workitem-header">"></div>
    <div class="workitem-body"></div>
  </div>
  <aside role="complementary">
  <div class="workitem-tabpanel binf-col-md-4 binf-col-sm-4">
    <div class="workitem-tabpanel-header"></div>
    <div class="workitem-tabpanel-content"></div>
  </div>
  </aside>
</div>
<footer role="contentinfo">
<div class="workitem-footer cs-dialog binf-modal-footer"></div>
</footer>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->