<h2 id="title-header">View Document</h2>
<div class="flex-containers">
    <div class="selectDocument-fieldname">SelectDocument: </div>
    <div id="selectDocument"></div>
</div>
<div class="viewer-flex-container">
    <div id="csviewer"></div>
</div>