{{#if has_version}}
  <div class="csui-search-results-version csui-search-item-version-{{cid}}">
    <a href="javascript:void(0);" class="csui-search-version-label" tabindex="0">{{versionLabel}}
       {{versionNumber}}
    </a>
  </div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->