<div class="dashed-border"></div>
<div class="conws-addoreditrole-wizardstep-header">
    <span class="conws-addoreditrole-wizardstep1">{{Step1}}</span>
    <span class="conws-addoreditrole-wizardstep2">{{Step2}}</span>
    <span class="conws-addoreditrole-wizardstep3">{{Step3}}</span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->