<ul class="binf-media-list">
    <li class="binf-media">
        <a class="binf-pull-left" href="#nodes/10">
            <img class="binf-media-object" src="controls/feeds.mock/feeds.mock.avatar.png" alt="User 1001 at Fr 12:23">
        </a>

        <div class="binf-media-body">
            <h4 class="binf-media-heading">
                <a href="#nodes/10">Comfort 3000 Pricing - 2015</a>
            </h4>

            <p class="media-comment">
                <a href="#members/1001" class="cs-comment">Kristen Brown added</a>
                <span class="cs-date">Fr 12:23</span>
            </p>
        </div>
    </li>
    <li class="binf-media">
        <a class="binf-pull-left" href="#nodes/11">
            <img class="binf-media-object" src="controls/feeds.mock/feeds.mock.avatar.png" alt="User 1002 at Fr 08:19">
        </a>

        <div class="binf-media-body">
            <h4 class="binf-media-heading">
                <a href="#nodes/11">Sprinkler Sales Estimates - 2015</a>
            </h4>

            <p class="media-comment">
                <a href="#members/1002" class="cs-comment">Nick Gallegos added</a>
                <span class="cs-date">Fr 08:19</span>
            </p>
        </div>
    </li>
</ul>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->