<div class="cs-emptylist-placeholder"></div>
<div class="cs-emptylist-text"><p class="csui-no-result-message" title="{{text}}">{{text}}</p></div>
<div class="cs-emptylist-placeholder"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->