<div class="conws-bosearchform-body csui-content-without-footer">
  <div class="conws-bosearchheader">
    <div class="conws-bosearchheader-title" title="{{search_form_title}}">{{search_form_title}}</div>
    <div class="conws-spacer"></div>
  </div>
  <div class="conws-bosearchfields">
  </div>
  <div style="display:none;" class="conws-bosearchfields-zero" title="{{zero_fields_title}}">
      "{{zero_fields_title}}"
  </div>
</div>
<div class="conws-bosearchform-footer binf-modal-footer">
</div>
<div class="conws-right-shadow"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->