<div class="">
  <div class="csui-search-custom-title">Custom Search View</div>
  <div id="csui-search-custom" class="csui-search-custom"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->