<div class="csui-global-message"></div>
<nav class="csui-navbar binf-navbar binf-navbar-default zero-gutter" aria-label="{{mainNavigationAria}}">
  <div class="binf-container-fluid" role="menubar">
    <span class="binf-navbar-brand binf-collapse binf-navbar-collapse">
      <span class="csui-logo binf-hidden-xs">
        <span class="csui-logo-image"></span>
      </span>
    </span>
    <div class="binf-nav binf-navbar-nav binf-navbar-left"></div>
    <div class="binf-nav binf-navbar-nav binf-navbar-right" ></div>
    <div class="binf-nav binf-navbar-nav csui-navbar-message"></div>
  </div>
</nav>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->