<div class="row">
    <div class="flex-container">
        <div class="leftColumn" id="leftRegion"></div>
        <div class="centerColumn" id="centerRegion"></div>
        <div class="rightColumn" id="rightRegion"></div>
    </div>
</div>