<div>
  {{#if count}}
    <a href="" class = "action-plan-edit"> {{count}} {{actionPlan}}</a>
  {{else}}
    <button class="action-plan-add">{{addActionPlan}}</button>
  {{/if}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->