<div class="binf-modal-dialog {{binfDialogSizeClassName}}" role="dialog" aria-modal="true" aria-hidden="false">
  <div class="binf-modal-content" >
    <div class="tile-header binf-modal-header"></div>
    {{#if bodyMessage}}
      <div class="binf-modal-body cs-dialog cs-dialog-bodymessage">{{bodyMessage}}</div>
    {{else}}
      <div class="binf-modal-body"></div>
    {{/if}}
    <div class="binf-modal-footer binf-hidden"></div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->