<div class="tile-header">
  <div class="tile-title">
    <h2 class="csui-heading" title="{{widgetTitle}}">{{widgetTitle}}</h2>
  </div>
</div>
<div>
  <div title="{{widgetMessage}}" class="csui-pman-widget-msg">
    <div class="csui-pman-widget-icon"></div>
    <div>{{widgetMessage}}</div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->