<div class="outlook-container" >

    <div class="mainPageContent" id="standardSections">
        <div class="outlook-col" id="searchRegion" ></div>
        <div id="nonSearchSections">
            <div class="outlook-col" id="suggestedRegion" ></div>
            <div class="outlook-col" id="favoriteRegion" ></div>
            <div class="outlook-col" id="recentRegion" ></div>
        </div>
    </div>  

    <div id="customSearchSection" class="hiddenArea"></div>
    <div id="savePanel" class="hiddenArea"></div>

    <div class="customSearchButton outlook-heading binf-panel-heading hiddenArea" id="customSearchButton">
        <span class="headerIcon forwardIcon" id="customerSearchButtonIcon" tabindex="0"></span>
        <span >{{customSearchLabel}}</span>
    </div>
    
    <div id="dialogRegion"></div>

</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->