<div class="binf-col-lg-12">
    <span class="binf-col-lg-1 binf-col-md-1 binf-col-sm-1 binf-col-xs-1">Location  : </span>
    <span class="binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2">{{office_location}} </span>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->