<div class="durationRegion"></div>
<div class="has-error-label binf-hidden" role="alert" aria-hidden="true">
  <span id="errorDuration"></span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->