<div class="comment-label">{{label}}</div>
<textarea class="comment-input" rows="6" placeholder="{{placeholder}}" aria-label="{{ariaLabel}}"></textarea>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->