<div class="center-header-toolbar">
    <button class="center-collapse-btn" id="left">
    </button>
    <i class="fas fa-heart"></i>
    <h2 id="title-header">View Document</h2>
    <button class="right-collapse-btn" id="right">
    </button>
</div>
<div class="flex-containers">
    <div class="selectDocument-fieldname">SelectDocument: </div>
    <div id="selectDocument"></div>
</div>
<div class="viewer-flex-container">
    <div id="csviewer"></div>
</div>

