<button title="{{title}}" class="binf-btn binf-btn-default binf-btn-sm removebtn binf-hidden">
  <i class="csui-icon circle_delete"></i>
</button>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->