<div class="left-section"></div>
<div class="center-section"></div>
<div class="right-section"></div>

{{^if hideDialogClose}}
  <div class="cs-close" title="{{dialogCloseButtonTooltip}}">
    <div class="icon circular {{iconRight}}" tabindex="0" aria-label="{{ariaDialogClose}}"
         role="button"></div>
  </div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->