<div id="cs-link" class="cs-link">
  <div class="cs-link-popoverhead">
    <div id="cs-link-heading" class="cs-link-heading">{{LinkHeading}}</div>
    <div id="cs-link-expand" class="cs-link-expand cs-link-expand-icon"></div>
  </div>
  <div class="cs-link-preview-content">
    {{#if isPreviewContent}}
      <div id="cs-link-content" class="cs-link-content"></div>
    {{/if}}
    {{#if isLinkPreviewImage}}
      <div id="cs-link-image" class="cs-link-image">{{{LinkPreviewImage}}}</div>
    {{/if}}
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->