<div class="search-input"></div>
<div class="search-clear"></div>
<div class="typeahead cs-search-icon icon-caret-down"
     title="{{showValues}}" aria-label="{{showValues}}">
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->