<div class="typeahead cs-search-clear csui-icon formfield_clear" style=""
     title="{{clearValue}}" aria-label="{{clearValue}}">
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->