<div class="binf-dropdown">
  <button id="{{btnId}}" type="button" class="binf-dropdown-toggle csui-acc-focusable"
          data-binf-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          title="{{configurationButtonTooltip}}" aria-label="{{configurationButtonTooltip}}">
    <span class="icon icon-toolbar-settings"></span>
  </button>
  <ul class="binf-dropdown-menu" role="menu"></ul>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->