<div class="tile-header">

    {{#if icon}}
        <div class="tile-type-icon">
            <span class="icon title-icon {{icon}}" aria-hidden="true"></span>
        </div>
    {{/if}}

    <div class="tile-title">
        <h2 class="csui-heading">{{title}}</h2>
    </div>

    <div class="tile-controls"></div>

</div>

<div class="tile-content"></div>

<div class="tile-footer"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->