<div class="binf-row">
  <div class="binf-item binf-col-xs-12">
    <div class="breadcrumb-inner breadcrumb-inner-header" role="navigation"
         aria-label="{{breadcrumbAria}}"></div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->