<div>
    <div class="xecmpf-eac-rules-header-wrapper binf-col-md-12 xecmpf-eac-header">
        <h4 class="xecmpf-eac-rules-header" title="\{{options.rulesLabel}}" aria-label="\{{options.rulesLabel}}">\{{options.rulesLabel}}</h4>
    </div>
    <div class="xecmpf-eac-rules-container-wrapper">
        <div class="binf-row">
            <div class="xecmpf-eac-rules-container binf-col-md-12 cs-form-singlecolumn csui-form-set-array-wrapper cs-form-set"></div>
        </div>
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->