<div class="csui-total-container-items">{{totalItems}}</div>
{{#if showPageSizeMenu}}
  <div class="binf-nav expanded-pager pager-filter csui-pagesize-menu">
    <div class="binf-dropdown csui-dropdown" role="menuitem">
      <a href="" class="binf-dropdown-toggle" data-binf-toggle="dropdown" role="button"
         aria-expanded="false" tabindex="0" aria-label="{{pageSizeMenuAria}}">
        <div class="csui-pageSize">{{itemsPerPage}}</div>
        <div class="csui-icon icon-expandArrowDown"></div>
      </a>
      <ul class="binf-dropdown-menu binf-dropdown-menu-right csui-dropdown-list" role="menu"></ul>
    </div>
  </div>
{{/if}}
<div class="csui-pagination">
  <div class="csui-paging-navbar">
    <ul class="binf-hidden">
      <li class="csui-overflow"></li>
    </ul>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->