<div class="csui-selected-checkbox csui-checkbox-primary csui-checkbox-selectAll"
     title="{{selectAllTitle}}">
  <input class="csui-selectAll-input" type="checkbox" id="{{selectAllId}}"
         aria-label="{{selectAllTitle}}">
  <div class='csui-selectAll-header csui-selectlabel'></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->