<div class="csui-search-header-title-container csui-fadeout">
  <h2 id="resultsTitle" class="csui-results-title"></h2>
  <div id="customSearchTitle" class="csui-custom-search-title"></div>
</div>
<span id="headerCount" class="headerCount"></span>
<span id="searchHeaderCountLive" role="status" class="binf-sr-only" aria-live="polite"></span>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->