<div class="settings-dropdown-container csui-settings-show" tabindex="0"></div>
{{#if showDefaults}}
<div class="selected-columns-container"></div>
<div class="available-columns-container"></div>
<div class="summary-description-container"></div>
{{/if}}
{{#each regions}}
<div id="{{this}}"></div>
{{/each}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->