<a class="csui-settings-option" href="javascript:void(0);" tabindex="0" title="{{label}}" role="menuitem">
  <span class="csui-settings-option-title">{{label}}</span>
  <span class="icon icon-next-card"></span>
</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->