<span class="csui-search-metadata binf-col-lg-4 binf-col-md-4 binf-col-sm-4
                    binf-col-xs-4" title="{{label}}">{{label}}</span>
<span class="csui-search-metadata-spacer binf-col-lg-1 binf-col-md-1 binf-col-sm-1
     binf-col-xs-1"></span>
<span class="searchDetails binf-col-lg-7 binf-col-md-7 binf-col-sm-7
                    binf-col-xs-7" title="{{tooltipText}}">{{value}}</span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->