<div class="xecmpf-back-button-container" title="{{backTitle}}" tabindex="0"
     aria-label="{{backTitle}}" role="button">
  <span class="arrow_back cs-go-back"></span>
</div>
<div class="xecmpf-actionplan-title">
  <h2 class="title">{{title}}</h2>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->