
<div id="customSearchFormArea">
    <div class="binf-panel-heading outlook-heading" >
        <span class="headerIcon backwardIcon" tabindex="0" id="customSearchBack"></span>
        <span >{{sectionTitle}}</span>
    </div>    
    <div class="wkspSearch">

        <div class="wkspSearchForm" id="searchFormListDiv">
            <label class="searchFormLabel" for="searchFormDW">{{selectSearchForm}}</label>
            <select class="wkspInput wkspSearchInput wkspSearchSelect" id="searchFormDW" onmousedown="document.getElementById('searchFormDW').focus();"></select>
        </div>

        <div id="searchFormDiv"></div>
    </div>
    <div class="wkspMessageArea" id="searchMsgArea"></div>
</div>

<div id="customSearchResultArea" class="hiddenArea">
    <div class="binf-panel-heading outlook-heading" >
        <span class="headerIcon backwardIcon" tabindex="0" id="customSearchResultBack"></span>
        <span >{{resultTitle}}</span>
    </div>    
    <div id="customSearchResult"></div>
</div>



<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->