
<div id="searchresult-list" ></div>
<div class="listItemWksp"><a href="javascript:;" id="moreSearchWksp" class="moreLinkWksp" title="{{showMoreWkspTitle}}" tabindex="0">{{showMoreLink}}</a></div>
<div class="wkspMessageArea" id="searchResultMsgArea"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->