<div class="cs-header binf-panel-heading">
  <span class="cs-title">{{title}}</span>
</div>


<div class="cs-content">
  <div class="cs-list-group"></div>
</div>


<div class="csui-right-shadow"></div>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->