<div class="wfstatus-step-info">

  <div class="wfstatus-step-header">
    <div class="wfstatus-empty-message" title="{{messages.NoStepAvailable}}">{{messages
    .NoStepAvailable}}</div>
  </div>

</div>



<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->