<div class="csui-table-cell-priority-container">
  {{#if priority_high}}
    <span class="icon icon-priorityHigh"></span>
  {{/if}}
  {{#if priority_medium}}
    <span class="icon icon-priorityMedium"></span>
  {{/if}}
  {{#if priority_low}}
    <span class="icon icon-priorityLow"></span>
  {{/if}}
  <span class="csui-table-cell-priority-text" title="{{priority_name}}">{{priority_name}}</span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->