{{#if back_button}}
  <span class="icon arrow_back cs-go-back" aria-label="{{goBackTooltip}}"
        title="{{goBackTooltip}}"
        role="link"></span>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->