<div class="csui-accordion-header csui-accordion-expand" title="{{this.widgetTabTitle}}">
  {{this.widgetTabTitle}}
  <div class="csui-button-icon cs-icon icon-expandArrowDown" title="{{this
  .expandTab}}"></div>
  <div class="csui-button-icon cs-icon icon-expandArrowUp" title="{{this
  .collapseTab}}"></div>
</div>
<div class="csui-accordion-content"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->