<div class="csui-pman-form-header">
    <div class="csui-pman-form-title">{{ title }}</div>
    <div class="csui-pman-form-description">{{ description }}</div>
    <div class="csui-pman-config-unsupported">
        <div class="csui-state">
            <span class="csui-state-icon csui-icon csui-icon-notification-error-white"></span>
        </div>
        <div class="csui-error-message">
            <span>{{ configNotSupported }}</span>
        </div>
    </div>
</div>
<div class="csui-pman-form-content cs-formview-wrapper"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->