<div class="csui-widget-template">
  <div class="csui-template-header">{{this.header}}</div>
  <div class="csui-template-body">{{this.body}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->