{{#if messages.enableFilters}}
  <div class="binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2 esoc-activityfeed-filter"></div>
  <div
      class="binf-col-lg-10 binf-col-md-10 binf-col-sm-10 binf-col-xs-10 esoc-acitivityfeed-collection
      esoc-afw-newupdates esoc-acitivity-feed-filter-enabled"></div>
{{else}}
  <div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12 esoc-acitivityfeed-collection esoc-afw-newupdates"></div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->