<div class="esoc-empty-activityfeed-message" title="{{emptyActivityFeed}}"><p
    class="esoc-empty-activityfeed-text">{{emptyActivityFeed}}</p></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->