<div title="{{messages.newupdates}}" class="{{newUpdatesWrapperClass}}" tabindex="0" data-cstabindex="0">
  <span class="esoc-activityfeeed-new-updates">{{messages.newupdates}}</span>
  <span title="{{messages.cancel}}" class="esoc-activityfeed-close"></span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->