<div class="csui-thumbnail-properties">
  <button type="button" class="csui-btn-metadata binf-btn" title="{{propertiesTitle}}"><span
    class="icon icon-toolbar-metadata"></span></button>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->