<div class="csui-action-child-container general-information">
    <div class="action-field-label-container"><label>{{actionLabel}}</label></div>

    <div class="action-with-icon">
        <div class="csui-action-icon-container">
            <div class="csui-action-icon csui-icon {{icon}}"></div></div>
        <div>
            <span href="#" class="csui-action-link">{{actionName}}</span>
        </div>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->