<div class="visual-data-expanded-view-wrapper">
    <div class="csui-facet-table-container">
        <div id="facetview"></div>
        
        <div id="outertablecontainer" class="reduce-for-facets">
            
            <div id="innertablecontainer">
                <div class="facetbarview"></div>
                <div class="visual-data-controls-parent"></div>
                <div class="visual-data-visualization"></div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->