<div class="esoc-social-contacts binf-col-lg-6 binf-col-md-6 binf-col-sm-6 binf-col-xs-6">
  <div id="esoc-social-chat-contacts-list" class="esoc-social-chat-contacts-list"></div>
  <!-- TODO: Move to separate hbs file-->
  <div class="esoc-social-chat-contacts-footer">
    <span class="esoc-social-add-contact binf-col-lg-4 binf-col-md-4 binf-col-sm-4 binf-col-xs-4">Add Contact</span>
    <span class="esoc-social-view-contacts binf-col-lg-4 binf-col-md-4 binf-col-sm-4 binf-col-xs-4">Contacts</span>
    <span class="esoc-social-view-recent binf-col-lg-4 binf-col-md-4 binf-col-sm-4 binf-col-xs-4">Recent</span>
  </div>
</div>
<div class="esoc-social-chat-history binf-col-lg-6 binf-col-md-6 binf-col-sm-6 binf-col-xs-6">
  <div id="esoc-social-chat-history-body" class="esoc-social-chat-history-body"></div>
  <div class="esoc-social-chat-history-footer">
    <span>Chat Post View</span>
  </div>
</div>
