<div class="csui-favorite-groups-header-region"></div>
<div class="csui-favorite-groups-rows-region binf-flex-column"></div>
<div class="csui-favorite-groups-footer-region"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->