<div class="csui-perspective-toolbar"></div>
<div class="csui-rowselection-toolbar"></div>
<div class="csui-favorite-masterdetail-view">
  <div class="csui-favorite-groups-view"></div>
  <div class="csui-table-view"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->