<div class="csui-groups-footer-wrapper binf-hidden">
  {{#each texts}}
    <p class="csui-groups-footer-text">{{this}}</p>
  {{/each}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->