<div class='header-container'>
  <span>Command View shown inside Dropdown Menu</span>
</div>

<div class='body-container'>
  <div class='body-form-wrapper medium'>
    <div class='buttons-container'>
      <button title="Small Size" class='binf-btn binf-btn-default small-size-btn'>Small Size</button>
      <button title="Medium Size" class='binf-btn  binf-btn-default medium-size-btn'>Medium Size</button>
      <button title="Large Size" class='binf-btn  binf-btn-default large-size-btn'>Large Size</button>
    </div>
  </div>
</div>

<div class='footer-container'>
  <div class='buttons-container'>
    <button title="Save and Go Back" class='binf-btn binf-btn-default save-and-go-back'>Save and Go Back</button>
    <button title="Save and Close" class='binf-btn  binf-btn-default save-and-close'>Save and Close</button>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->