<div class="csui-tab-contents-header-content">
  <div class="csui-tab-contents-header-right">
    <div class="required-field-switch binf-hidden">
        <span id="{{requiredFieldsLabelId}}" class="only-required-fields-label"
              title="{{onlyRequiredFieldsLabel}}">{{onlyRequiredFieldsLabel}}</span>
      <div class="required-fields-switch"></div>
    </div>
  </div>
  <h4>General</h4>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->