
<div class="binf-panel-heading outlook-heading">
    <span class="headerIcon sectionToggleIcon" id="recentToggleIcon" tabindex="0"></span>
    <span >{{sectionTitle}}</span> <span id="recentCount"></span>
</div>
<div id="recentSection">
    <div id="recent-list" class=""></div>
    <div class="listItemWksp"><a href="javascript:;" id="moreRecentWksp" class="moreLinkWksp" title="{{showMoreWkspTitle}}" tabindex="0">{{showMoreLink}}</a></div>
    <div class="wkspMessageArea" id="recentWkspMsgArea"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->