{{#if hasCommands}}
  <div class="binf-dropdown">
    <button id="{{btnId}}" type="button" class="binf-btn binf-dropdown-toggle csui-acc-focusable"
            data-binf-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="{{showMoreAria}}" title="{{showMoreTooltip}}">
      <span class="csui-button-icon icon-expandArrowDown" title="{{showMoreTooltip}}">
      </span>
    </button>
    <ul class="binf-dropdown-menu" role="menu"></ul>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->