<div class="participant-picture">
  <span class="csui-icon binf-img-circle" aria-label="{{display_name}}"/>
  <img class="csui-icon binf-img-circle" alt="{{display_name}}">
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->