<div class="binf-modal-content">
  <div class="binf-modal-header">
    <h4 class="binf-modal-title">{{title}}</h4>
    <div class="conws-addparticipants-search">
      <div class="conws-addparticipants-userpicker">
        
      </div>
      <div>
        <div class="conws-addparticipants-rolepicker">
          
        </div>
        <div class="conws-addparticipants-rolepicker-help">{{roles-help}}</div>
      </div>
    </div>
  </div>
  <div class="binf-modal-body">
    <div class="conws-addparticipants-members"></div>
  </div>
  <div class="conws-addparticipants-buttons">
    
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->