<div class="participant-content binf-pull-left"></div>
<div class="participant-roles binf-pull-left"></div>
<div class="participant-delete binf-pull-right"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->