<span class="remove csui-icon cs-icon-delete" data-id="{{id}}"
      title="{{removeParticipant}}" aria-label="{{removeParticipant}}"></span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->