<span class="csui-icon-group csui-menu-btn" role="button" aria-expanded="false" {{#if dropDownText}} title="{{dropDownText}}" aria-label="{{dropDownText}}" tabindex="-1"{{/if}}>
  <span {{#if dropDownIcon}}class="{{dropDownIcon}}"{{/if}}></span>
</span>
<span class="csui-icon-group csui-loading-parent-wrapper binf-disabled binf-hidden" title="{{loadingTitle}}" role="presentation" tabindex="-1">
  <span class="csui-loading-dots-wrapper">
    <span class="csui-loading-dot"></span>
    <span class="csui-loading-dot"></span>
    <span class="csui-loading-dot"></span>
  </span>
</span>
<span class="csui-menu-btn-region binf-hidden"></span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->