<div class="cs-back-button-container" title="{{backTitle}}"
     tabindex="0" aria-label="{{backTitle}}" role="button">
  <span class="arrow_back cs-go-back"></span>
</div>
<div class="cs-title-container">
  <div class="cs-title-inner-container">
    <span class="title-icon {{icon}}"></span>
    <h2 class="title">{{title}}</h2>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->