<div>
  <ul>
    {{#roles}}
      <li class="conws-roles-readonly-item" title="{{name}}"><span>{{name}}</span></li>
    {{/roles}}
  </ul>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->