<div>
    <ul>
        {{#each allRoles}}
            <li class="conws-roles-edit-item">
              <div>
                <a href="#" class="conws-roles-edit-itemaction-select conws-roles-edit-canedit-selectitem" data-id="{{id}}"><span title="{{name}}">{{name}}</span></a>
              </div>
            </li>
        {{/each}}
    </ul>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->