<div class="cs-scroll-control cs-scroll-control-left">
  <span class="{{#unless leftControlIconClass}}glyphicon glyphicon-chevron-left{{/unless}}
  cs-scroll-control-icon cs-scroll-control-icon-left {{leftControlIconClass}}"></span>
</div>
<div class="cs-scroll-control cs-scroll-control-right">
  <span class="{{#unless rightControlIconClass}}glyphicon glyphicon-chevron-right{{/unless}}
  cs-scroll-control-icon cs-scroll-control-icon-right {{rightControlIconClass}}"></span>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->