<div class="csui-metadata-versions">
  <div class="csui-metadata-versions-rowselection-toolbar-view"></div>
  <div class="csui-table-view"></div>
  <div class="csui-pagination-view"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->