<div class="conws-teamtables">
    <div class="teamtables-tabs">
        
        <ul class="binf-nav binf-nav-tabs binf-pull-right" role="tablist">
          <li role="presentation" id="tabParticipants"></li>
          <li role="presentation" id="tabRoles"></li>
        </ul>
    </div>
    
    <div class="teamtables-content">
        <div class="binf-tab-content">
            <div role="tabpanel" class="binf-tab-pane binf-fade binf-in binf-active" id="participantstab">
                <div id="participantstoolbar"></div>
                <div id="participantsview"></div>
            </div>
            <div role="tabpanel" class="binf-tab-pane binf-fade" id="rolestab">
                <div id="rolestoolbar"></div>
                <div id="rolesview"></div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->