<div class="cs-footer-left">
<div class=" arrow_back cs-go-back" style="
    /* width: 18px; */
    /* display: block; */
    /* height: 18px; */
"></div>
</div>
<div class="cs-footer-right">

</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->