<div class="csui-sidepanel-title">
    <h1 class="csui-sidepanel-heading">{{title}}</h1>
    <h2 class="csui-sidepanel-subheading">{{subTitle}}</h2>
</div>
<div class="csui-sidepanel-close" title="{{closeTooltip}}" aria-label="{{closeAria}}" tabindex="-1" role="button">
    <div class="icon cs-icon-cross" ></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->