<a class="binf-dropdown-toggle csui-acc-focusable" role="button"
        data-binf-toggle="dropdown" aria-expanded="false" tabindex="-1">
  <span class="dropdown-label">{{dropdownLabel}}</span>
  <span class="csui-button-icon icon-expandArrowDown"></span>
</a>
<ul class="binf-dropdown-menu" role="menu"></ul>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->