<div class="csui-search-expandall-wrapper">
  <div class="csui-search-expandall-text"
       title="{{messages.expandAll}}">{{messages.expandAll}}</div>
  <button class="csui-search-header-expand-all" aria-label="{{messages.expandAll}}"
          title="{{messages.expandAll}}" aria-pressed="false">
    <span class="icon csui-icon icon-expandArrowDown"></span>
  </button>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->