<div
    class="csui-search-header-left-actions binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
  <div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <div id="selectAllCheckBox" class="csui-select-all csui-search-item-check"></div>
    <div id="SelectedItemsCounter" class="csui-selected-items-counter-view"></div>
    <div id="toolbar"
         class="csui-search-toolbar binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12"></div>
  </div>
</div>
<div class="csui-search-header-right-actions">
  <div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <div class="csui-search-header-actions">
      <div class="csui-search-sorting" id="csui-search-sort"></div>
      <div class="csui-expand-all" id="expandAllArrow"></div>
    </div>
  </div>
</div> 

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->