{{#if toolbar}}
  <div class="left-toolbar"></div>
{{/if}}

<div class="tab-links-bar">
  <span class="fadeout"></span>
  <ul class="binf-nav {{tab_type}}" role="tablist"></ul>
</div>

{{#if toolbar}}
  <div class="right-toolbar"></div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->