{{#if docsCount}}
  <span class="csui-icon {{icon}}"></span>
  <button class="count binf-btn binf-btn-default xecmpf-docscount-without-text">{{docsCount}}</button>
  <button class="count binf-btn binf-btn-default xecmpf-docscount-with-text">{{docsCountWithText}}</button>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->