<div class="csui-permission-attribute-tree"></div>

{{#if showButtons}}
  <div class="csui-permission-attribute-buttons-container">
    <button class="cs-save-btn binf-btn binf-btn-primary
  binf-btn-default" tabindex="-1">{{save_button_label}}</button>
    <button class="cs-cancel-btn binf-btn binf-btn-default"
            tabindex="-1">{{cancel_button_label}}</button>
  </div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->