<div class="csui-details">
    <div class="tile-icon">
        <div class="icon {{icon}}" title="{{name}}" aria-hidden="true"></div>
    </div>

    <div class="tile-title">
        <span class="csui-heading" aria-label="{{shortcutAria}}">{{name}}</span>
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->