<span id="csui-collection-conflicts-title"
      class="csui-collection-conflicts-title">{{conflictsItemsTitle}}</span>
<ul id="csui-collection-conflict-items" class="csui-collection-conflict-items"></ul>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->