
<div id="folders-list" style="padding-left: 22px"></div>
<div class="listItemFolder"><a href="javascript:;" id="moreLink" class="moreLink" title="{{showMoreFoldersTitle}}" data-id="{{id}}"  tabindex="0">{{showMoreLink}}</a></div>



<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->