{{#if showCondensedHeaderToggle}}
  <div class="csui-condensed-header-toggle-container">
    <button type="button" class="csui-condensed-header-toggle"
            title="{{toggleCondensedHeaderTooltip}}" aria-label="{{toggleCondensedHeaderAria}}">
      <span class="icon icon-condensed-header"></span>
    </button>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->