<div class="csui-selected-items-counter-region"></div>
<div class="csui-toolbar-region"></div>
<div class="csui-right-toolbar-region"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->