<div id="csui-np-breadcrumbs" class="cs-breadcrumb">
  <div class="breadcrumb-inner" role="navigation" aria-label="{{breadcrumbAria}}"></div>
  <div class="searchheader-inner"></div>
  <div class= 'csui-selected-count-parent'></div>
</div>
<div id="csui-np-selectviews"></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->