<div class="binf-modal-dialog conws-modal-dialog {{modalClassName}}">
  <div class="binf-modal-content">
    {{#if existsHeader}}
      <div class="conws-modal-dialog dialog-header"></div>
    {{/if}}
    {{#if existsBody}}
      <div class="conws-modal-dialog dialog-body"></div>
    {{/if}}
    {{#if existsFooter}}
      <div class="conws-modal-dialog dialog-footer"></div>
    {{/if}}
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->