<div class="column-header">
  <div class="icon arrow_back" tabindex="0" title="{{backToButtonTitle}}" aria-label="{{backToButtonAria}}" role="button"></div>
  <div class="column-title" title="{{label}}">{{label}}</div>
  <div class="selected-column-count"></div>
</div>
<div class="columns-list binf-list-group" role="group">
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->