<div class="column-item-container" title="{{name}}">
  <span class="icon icon-listview-checkmark"></span>
  <span class="column-label">{{name}}</span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->