
<div class="binf-panel-heading outlook-heading">
    
    <span class="headerIcon sectionToggleIcon" id="suggestedToggleIcon" tabindex="0"></span>
    <span >{{sectionTitle}}</span> <span id="suggestedCount"></span>
    
    <span style="float: right">
    <div id="suggestedWkspSpinner" class="load-container binf-hidden">
        <div class="outer-border wksp-outer-border">
            <div class="loader wksp-loader"></div>
        </div>
    </div>
    </span>    
</div>
<div id="suggestedSection">
    <div id="suggested-list"></div>
    <div class="wkspMessageArea" id="suggestedWkspMsgArea"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->