<div class="csui-placeholder-title" title="{{dndWidgetsHere}}">
  <div class="csui-placeholder-icon"></div>
  <div>{{dndWidgetsHere}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->