<span>
  <div class="esoc-error-socialactions" style="display: none;">
    <div class="binf-panel-danger">
      <div class="binf-panel-heading">
        <h4 class="binf-panel-title"></h4>
      </div>
    </div>
  </div>
  {{#if socialactions.commentsEnabled}}
    <span class="esoc-socialactions-getcomments" data-value="{{socialactions.CSID}}">
            <div class="binf-btn binf-btn-primary"> {{messages.comments}} </div>
        </span>
  {{/if}}
  
</span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->