<div class="binf-panel-heading conws-preview-header">
</div>

<div class="binf-panel-body">
    <div class="conws-preview-metadata conws-preview-perfect-scroll">
    </div>

    <hr>

    <div class="binf-list-group conws-preview-role-members conws-preview-perfect-scroll">
        User Or Role Area
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->