<div class="csui-user-search-container">
  <div class="csui-user-search-bar"></div>
</div><a href="javascript:void(0);" class="icon icon-global-search csui-header-userpicker-icon
         icon-header-search csui-acc-focusable" title="{{searchIconTitle}}" tabindex="0"
         data-cstabindex="-1" role="button" aria-expanded="false"
         aria-label="{{searchIconAria}}"></a>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->