<div class="esoc-simple-user-profile-pic-update">
  <div class="esoc-simple-user-profile-pic-edit
  esoc-profile-pic-edit" role="button" aria-label="{{uploadProfilePicture}}"
       tabindex="-1">{{uploadProfilePicture}}</div>
  <div class="esoc-simple-user-profile-pic-delete
  esoc-profile-pic-edit" role="button" aria-label="{{deleteProfilePicture}}"
       tabindex="-1">{{deleteProfilePicture}}</div>
</div>