<div class="binf-col-lg-12 binf-col-md-12 binf-col-sm-12 binf-col-xs-12">
    <span class="binf-col-lg-1 binf-col-md-1 binf-col-sm-1 binf-col-xs-1">Email  : </span>
    <span class="binf-col-lg-2 binf-col-md-2 binf-col-sm-2 binf-col-xs-2">{{business_phone}} </span>
</div>
