{{#if complete_reference}}
  <div class="conws-label-search">{{search_button_label}}</div>
  <button type="button" class="binf-btn binf-btn-default search">{{search_button_title}}</button>
{{else}}
  <div  class="conws-reference-override-note">{{cannot_complete_business_reference}}</div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->