<div class="conws-reference-panel binf-row alpaca-field">
  <div class="alpaca-container-label">
    <h3>{{title}}</h3>
  </div>
  <div class="conws-reference-initial">
  </div>
  <div class="conws-reference-replace">
  </div>
  {{#if change_reference}}
    <div class="conws-reference-override-note">{{override_note}}</div>
  {{/if}}
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->