{{#each columns}}
  <div class="csui-table-cell csui-table-cell-{{this.name}} {{this.class}}" role="cell"></div>
{{/each}}
{{#if hasWrappedColumns}}
  <div class="csui-table-extra-cols csui-column-wrapped" role="cell"></div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->