{{#if is_shortcut}}
  <div class="binf-row shortcut-div">
    <a href="#" class="shortcut-switch" title="{{right_label}}">{{right_label}}</a>
  </div>
{{/if}}
<div class="csui-extra-header-wrapper"></div>
{{#if show_close_icon}}
  <div class="metadata-header-floating-rightbar">
    <span class="icon close cs-metadata-close" title="{{close_metadata_button_tooltip}}"></span>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->