<div class="csui-error-icon-div">
  <div class="csui-error-icon-parent">
    <div class="csui-error-icon notification_error"></div>
  </div>

</div>
<div class="csui-message">{{message}}</div>
{{#if suggestion}}
  <div class="csui-suggestion">{{suggestion}}</div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->