<div class="csui-apply-permission-content">
  <span class="csui-apply-permission-message"></span>
</div>
<div class="csui-apply-permission-subfolder-container">
  <div class="csui-apply-permission-sub-folder">
    <span class="csui-apply-permission-sub-folder-label"></span>
    <div class="required-fields-switch"></div>
  </div>
  <div class="csui-apply-permission-subitems-container">
    <div class="csui-apply-subitems-message"></div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->