<span class="csui-type-location-icon" aria-hidden="true"></span><span title="{{name}}"
                                                                      class="csui-list-item-title">{{name}}</span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->