<div class="binf-panel-heading outlook-heading">
    <span class="headerIcon sectionToggleIcon" id="favoriteToggleIcon" tabindex="0"></span>
    <span >{{sectionTitle}}</span> <span id="favoriteCount"></span>
</div>
<div id="favoriteSection">
    <div id="favorite-list" class="panel panel-default"></div>
    <div class="listItemWksp"><a href="javascript:;" id="moreFavoriteWksp" class="moreLinkWksp" title="{{showMoreWkspTitle}}" tabindex="0">{{showMoreLink}}</a></div>
    <div class="wkspMessageArea" id="recentWkspMsgArea"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->