<div class="csui-loaderpanel">
  <div class="binf-row">
    <div class="binf-col-sm-6" id="csui-zipanddownload-stage">
      {{label}}
    </div>
    <div class="binf-col-sm-4">
      <div class="csui-loaderpanel-inner"></div>
    </div>
    <div class="binf-col-sm-2 bin-pull-right">
      <a class="binf-pull-right csui-loader-cancel">Cancel</a>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->