
<td id="checkboxTd" class="emailSaveIconTd hiddenArea">
    <button type="button" id="checkButton" role="checkbox" class="checkbox csui-control csui-checkbox" tabindex="0" aria-label="{{saveLabel}}">
        <span class="checkboxIcon" id="checkboxIcon"></span>
    </button>
</td>
<td id="itemIconTd" class="emailSaveIconTd hiddenArea"> 
    <span class="wkspItemIcon"><div id="itemIcon" title="{{typeName}}"></div></span>
</td>
<td class="emailSaveNameTd">
    <div style="" class="wkspInput nameBox textReadonly textNoWrap" id="itemName" tabindex="-1"><span></span></div>
</td>
<td id="editButtonTd" class="emailSaveIconTd hiddenArea">
    <span id="itemEditIcon" class="nameEdit" disabled tabindex="{{tabIndex}}"></span>
</td>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->