<div class="binf-row">
  <div class="wf-proxy-user-form binf-col-md-12 binf-col-sm-12
  binf-col-lg-12
  binf-col-xs-12">
    <div class="cs-form-singlecolumn wf-proxy-user-column">
      <div id="wf-proxy-user" class="wf-proxy-user"></div>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->