<a href="#" class="launch-subwebreport" title="{{icon_label}}">
    <span class="icon {{icon_class}}" aria-label="Launch SubWebReport" role="button img"></span>
</a>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->