<a href="#{{uniqueTabId}}" class="cs-tablink" data-binf-toggle="tab" title="{{csui-l10n title}}">
  <span class="cs-tablink-text">{{csui-l10n title}}</span>
  <input class="csui-pman-editinput binf-hidden" tabindex="-1">
</a>
<div class="cs-tablink-delete" title="{{removeTab}}">
  <span class="icon clear-icon-white cs-delete-icon" role="button" data-cstabindex="0"></span>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->