<div class="csui-metadata-myattachments">
  <div id="att-tabletoolbar"></div>
  <div id="att-tableview"></div>
  <div id="att-paginationview"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->