<button type="button" class="binf-btn binf-btn-primary submitWR">{{runWebReport}}</button>
<button type="button" class="binf-btn binf-btn-secondary cancelWR">{{cancel}}</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->