<div class="csui-perspective-toolbar"></div>
<div class="csui-recentlyaccessedtable">
  <div class="csui-rowselection-toolbar"></div>
  <div id="tableviewRA"></div>
  <div id="paginationviewRA"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->