<div class="csui-permission-header-data"></div>
{{#each headerItems}}
  <div id="csui-header-right-view{{@index}}" class="csui-permission-header-data"></div>
{{/each}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->