<div class="tile-title">
  <h2 class="tile-title binf-modal-title csui-heading">{{title}}</h2>
</div>
{{#if itemCountExists}}
<div class="cs-header-control csui-zipanddownload-details">
  <span class="csui-items">{{itemsCount}} </span>
  <span class="csui-size">{{size}}</span>
</div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->