<div class="csui-permissions-rightbar-view">
  <div class="csui-secuirity-clearance"><label>{{lblSecurityClearance}}</label><span>Secret</span
  ></div>
  <div class="csui-supplimental-markings"><label>{{lblSupplementalMarkings}}</label><span
  >Contractor; For official use only
  </span
></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->