<span class="csui-rich-text-edit-icon-wrapper csui-rich-text-edit-icon-wrapper-{{ id }}">
  <span title="{{ editLable }}" class="icon icon-edit icon-edit-{{ id }}"></span>
</span>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->