<div class='csui-richtext-message-wrapper'>
  <div id="csui-richtext-content-body-{{ id }}" class="csui-richtext-message"
       contentEditable="false" data-placeholder = "{{placeholder}}">
    {{{ data }}}
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->