<div class="csui-html-editor-action-buttons">
  <button type="button" title="{{saveLabel}}" role="button" data-cstabindex="-1" tabindex="-1"
          aria-label="{{saveAria}}"
          class="icon circular csui-html-edit-icon csui-html-edit-save"></button>
  <button type="button" title="{{cancelLabel}}" role="button" data-cstabindex="-1" tabindex="-1"
          aria-label="{{cancelAria}}"
          class="icon circular csui-html-edit-icon csui-html-edit-cancel"></button>
</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->