<div class="csui-html-editor-tile-controls tile-controls"></div>
<div class="csui-html-editor-wrapper-parent cui-rich-editor-widget-wrapper
csui-html-editor-wrapper-parent-{{ id }}">
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->