<div id="csui-inline-permissions-user-picker" class="csui-inline-permissions-user-picker"></div>
<div class="csui-user-picker-buttons csui-inlineform-group">
  <button class="binf-btn csui-btn binf-btn-primary cs-save-button" tabindex="-1" disabled>{{this.SaveButtonLabel}}</button>
  <button class="binf-btn csui-btn binf-btn-default cs-cancel-button" tabindex="-1">{{this.CancelButtonLabel}}</button>
</div>
<div class="csui-change-user-error"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->