<div class="conws-tabletoolbar tile-nav" aria-label="Table menubar" role="menu">
   
   <div class="conws-header-status-indicators-section">
      <div class="conws-header-status-indicators">        
      </div>
      <div class="conws-header-status-toolbar-divider"></div>
   </div>
   {{#if hasToolbarView}}
      <div class="conws-rightToolbar" ></div>   
      <div class="conws-delayedActionsToolbar"></div>
   {{/if}}
      <div class="conws-header-collapse"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->