<div class="csui-perspective-toolbar"></div>
<div class="csui-myassignmentstable">
  <div id="tableviewMA"></div>
  <div id="paginationviewMA"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->