<div class="csui-saved-search-form" id="{{searchFormId}}"></div>
{{#unless hideSearchButton}}
  <div class="csui-saved-search-submit-container">
    <button class="binf-btn binf-btn-primary csui-custom-search-form-submit"
            id="{{searchButton}}" value="Search"> {{messages.search}} </button>
  </div>
{{/unless}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->