<div class="csui-permission-lookup-container"></div>
<div class="csui-permissions-list-container"></div>
<div class="csui-permissions-empty-actions binf-hidden">
  <div class="csui-addMember-container">
    <span class="csui-icon add_user"></span>
    <span class="csui-addMember"></span>
  </div>
  <div class="csui-grantAccess-container binf-hidden">
    <span class="csui-icon icon_permmision_owner"></span>
    <span class="csui-grantAccess"></span>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->