<div class="outer-border">
  <div class="loader">
  </div>
  <div class="binf-sr-only" aria-live="polite" aria-busy="true">
      {{loadingText}}
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->