<div class="conws-filter-header">
  <h3 class="header-caption">{{caption}}</h3>
  {{#if active}}
    <div class="filter-search"></div>
    <div class="filter-clear"></div>
    <div class="filter-icon"></div>
  {{/if}}
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->