<button class="binf-btn binf-btn-default btn-footer {{css}}" {{#if disabled }}disabled{{/if}} {{#if
close}}data-binf-dismiss="modal"{{/if}} >{{label}}</button>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->