<div class="conws-roles-edit-buttons binf-modal-footer">
  <span class="conws-roles-edit-reset-region"></span>
  <span class="conws-roles-edit-save-region"></span>
  <span class="conws-roles-edit-cancel-region"></span>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->