<div class="conws-teamheader-content">
  <div class="title primary-title" title="{{primaryTitle}}">{{primaryTitle}}</div>
  <div class="title secondary-title" title="{{secondaryTitle}}">{{secondaryTitle}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->