{{#if displayHeader}}
  <span class="csui-thumbnail-metadata-label" title="{{label}}">{{label}}</span>
  <span class="csui-thumbnail-metadata-spacer"></span>
{{/if}}
<span class="csui-thumbnail-metadata-val">{{value}}</span>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->