<div class="csui-maximize">
<div class="icon-progresspanel-pending csui-button-icon binf-btn-default"
    aria-label="{{maximizeAria}}" title="{{maximize}}" tabindex="0">
    <div class="csui-progressbar-animation">
      {{!-- TODO: Icon to be confirmed with VX Team --}}
    
      <div class="csui-progressbar-pie-wrapper progress progressbar">
        <div class="csui-progressbar-pie">
          <div class="csui-progressbar-left-side csui-progressbar-half-circle"></div>
          <div class="csui-progressbar-right-side csui-progressbar-half-circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->