<div>
    <div class="xecmpf-eac-actions-header-wrapper binf-col-md-12 xecmpf-eac-header">
        <h4 class="xecmpf-eac-actions-header" title="\{{options.actionsLabel}}" aria-label="\{{options.actionsLabel}}"><span class="binf-glyphicon binf-glyphicon-star alpaca-icon-required"></span>\{{options.actionsLabel}}</h4>
    </div>
    <div class="xecmpf-eac-actions-container-wrapper">
        <div class="binf-row">
            <div class="xecmpf-eac-actions-container binf-col-md-12 csui-form-set-array-wrapper">
            </div>
        </div>
    </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->