<div class="binf-panel-heading outlook-heading hiddenArea" title="{{title}}" id="propertyTitle">
    <span class="headerIcon sectionToggleIcon" id="toggleIcon" tabindex="0" title="{{title}}"></span>
    <span>{{title}}</span>
</div>
<div id="propertyForm" class="metadata-formitems"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->