<div class="csui-saved-search-form" id="metadata-forms"></div>
<div class="header-right">
    <div class="required-field-switch">
        <span id="requiredFieldsLabelId" class="only-required-fields-label"
              aria-label="{{requiredFieldsSwitchTitle}}">{{requiredFieldsSwitchTitle}}</span>
              <div id="required-fields-switch" class="required-fields-switch"></div>
    </div>
</div>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->