<div class="xecmpf-boattachmentstable">
    <div class="xecmpf-alternating-toolbars">
        <div class="xecmpf-widget-table-header"></div>
        <div id="botabletoolbar" class="xecmpf-rowselection-toolbar"></div>
    </div>
    <div id="botableview"></div>
    <div id="bopaginationview"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->