<div class='xecmpf-eac-processmode-view'>
    <div class="xecmpf-eac-header">
        <h4 class="xecmpf-eac-processmode-header" title="\{{options.header}}" aria-label="\{{options.header}}"><span class="binf-glyphicon binf-glyphicon-star alpaca-icon-required"></span>\{{options.header}}</h4>
    </div>
    <div class="xecmpf-eac-processmode-form">
        <div class="xecmpf-eac-processmode-runas" id="xecmpf-eac-processmode-run_as"></div>
        <div class="xecmpf-eac-processmode-processmode" id="xecmpf-eac-processmode-process_mode"></div>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->