<h4 class="binf-modal-title">
  <span class="icon icon-notification-information"></span>
  <span class="title-text csui-apply-permission-header-title" title="{{title}}">{{title}}</span>
</h4>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->