<div class="conws-apply-role-permission-content">
  <span class="conws-apply-role-permission-message"></span>
</div>
<div class="conws-apply-role-permission-switch">
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->