{{#if isUser}}
  <span class="csui-name participant-name" title="{{value}}"></span>
{{else}}
  <span class="csui-name participant-name" title="{{value}}">{{formattedValue}}</span>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->