<div class="csui-no-result-wrapper">
  {{#if noSearchResultMessage.length}}
    <p class="csui-no-result-message">
      {{noSearchResultMessage}}
    </p>
  {{/if}}
</div>




<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->