
<div class="list-content">
  <ul class="binf-list-group {{#if searchView}}search-left-item{{/if}}" aria-label="{{nodePickerChoices}}" role="listbox"></ul>
  <div class="binf-search-location-group"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->