<div class="conws-workspaces-error content-tile">
  <div class="conws-workspaces-error-icon-div">
    <div class="conws-workspaces-error-icon-parent">
      <div class="conws-workspaces-error-icon notification_error"></div>
    </div>
  </div>
  <div class="conws-workspaces-message">{{errorMessage}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->