{{#if showAlternatingToolbar}}
<div class="conws-alternating-toolbars">
  <div class="conws-table-tabletoolbar"></div>
  <div class="conws-table-rowselection-toolbar"></div>
</div>
{{/if}}
<div class="conws-workspacestable">
  <div id="tableview"></div>
  <div id="paginationview"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->