<a role="menuitem" tabindex="-1" href="#" class={{class}}>
  {{#if icon}}
    <span class="cs-icon {{iconClass}}"></span>
  {{/if}}
  <span class="cs-label">{{name}}</span>
</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->