<div class="binf-modal-dialog binf-modal-lg">
  <div class="binf-modal-content">
    <div class="xecm-modal-header">
      <div title="{{closeToolTip}}"
          class="cs-close icon-tileCollapse icon-pagewidget-collapse csui-acc-focusable-active" tabindex="0" aria-label="{{closeToolTip}}" role="button"></div>
    </div>
    <div class="binf-modal-body"></div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->