<button id="grpSelectId" type="button" class="binf-btn binf-btn-default binf-dropdown-toggle"
        data-binf-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="selected-group-label"></span>
  <span class="cs-icon icon-caret-down"></span>
</button>
<div class="binf-dropdown-menu favorite-groups-dropdown-container" role="menu">
  <ul class="favorite-groups-dropdown"></ul>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->