<div class="xecmpf-actionplan-header-view"></div>
<div class="xecmpf-actionplan-master-view">
  <div class="xecmpf-actionplan-list-view"></div>
  <div class="xecmpf-actionpan-details-view"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->