{{#if isEmpty}}
    <div class="csui-table-cell-text" aria-label="{{value}}">&nbsp;</div>
{{else}}
    <div class="csui-table-cell-text" title="{{value}}">{{value}}</div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->