<div class="csui-search-header">
    <span class="csui-search-header-title">
        <span class="results-title searchResultsTitle">{{messages.searchResults}}</span>
        <span class="headerCount searchHeaderCount" aria-live="polite"></span>
    </span>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->