<div class="conws-addoreditrole-roledetails">
    <div class="conws-addoreditrole-roledetails-header">
    </div>
    <div class="conws-addoreditrole-roledetails-body">
        <div class="conws-addoreditrole-roledetails-left">
        </div>
        <div class="conws-addoreditrole-roledetails-right">
        </div>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->