<div class="wfstatusitem-progress-panel">
  <div class="wfstatusitem-body binf-col-md-9 binf-col-sm-9 binf-col-xs-12"></div>
  <div class="wfstatusitem-tabpanel binf-col-md-3 binf-col-sm-3 binf-hidden-xs"></div>
  {{#if permAction}}
  <div class="cs-dialog binf-modal-footer binf-col-md-3 binf-col-sm-3 binf-hidden-xs ">
    <button class="binf-btn binf-btn-primary wfstatusitem-{{wfstatusAction}}-btn"
            title="{{wfstatusActionLabel}}">{{wfstatusActionLabel}}</button>
  </div>
  {{/if}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->