<div class="esoc-activityfeed-list esoc-activityfeed-list-{{feedtype}}">
  <div class="object-group"></div>
  <div class="tile-footer"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->