{{#if selectable}}
  <div class="csui-focusable-table-column-header">
    <div class="csui-selected-checkbox csui-checkbox-primary">
      <input type="checkbox" class="selectAction" title="{{selectItemName}}"
             {{#if checked}}checked{{/if}} >
      <div class="csui-selectlabel"></div>
    </div>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->