<div class="csui-alternating-toolbars">
  <div class="csui-table-tabletoolbar"></div>
  <div class="csui-table-rowselection-toolbar"></div>
</div>
<div class="csui-facet-table-container">
  <div class="csui-table-facetview csui-facetview-hidden csui-facetview-visibility"></div>
  
  <div class="csui-outertablecontainer">
    
    <div class="csui-innertablecontainer">
      <div class="csui-table-facetbarview"></div>
      <div class="csui-table-tableview"></div>
      <div class="cs-thumbnail-wrapper"></div>
      <div class="csui-table-paginationview"></div>
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->