<div class="conws-role-avatar">
  <span class="cs-icon circular cs-icon-add" aria-hidden="true"></span>
</div>
<div class="cs-left">
  <div class="cs-title">
    <span class="cs-name cs-role conws-font-1em-italic-steel-grey" title="{{stage.value}}">{{stage
    .value}}</span>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->