<button type="button" class="csui-thumbnail-overview-icon" title="{{overViewTitle}}"
        aria-haspopup="dialog" aria-label="{{overViewTitle}}" {{#if focusable}}tabindex="0"
        {{else}}tabindex="-1"{{/if}}>
  <span class="icon icon-thumbnail-metadata-overview"></span>
</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->