<div class="csui-thumbnail-metadata-name-container">
  <div class="csui-thumbnail-properties csui-thumbnail-overview-name"></div>
  <div class="csui-thumbnail-metadata-container">
    {{#each columns}}
      <div class="csui-thumbnail-properties csui-thumbnail-overview-{{@index}}"></div>
    {{/each}}
  </div>
</div>
<div class="csui-thumbnail-properties-actions">
  <div class="csui-thumbnail-properties csui-thumbnail-overview-properties"></div>
  <div class="csui-thumbnail-properties csui-thumbnail-overview-reserved"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->