<li role="menuitem" class="csui-loading-parent-wrapper binf-disabled csui-disbaled">
  <span class="csui-loading-dots-wrapper">
    <span class="csui-loading-dot"></span>
    <span class="csui-loading-dot"></span>
    <span class="csui-loading-dot"></span>
  </span>
</li>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->