<div class="conws-addoreditrole-emptyroleparticipants">
    <div class="conws-addoreditrole-emptyroleparticipants conws-empty_team"></div>
    <div class="conws-addoreditrole-emptyroleparticipants-msg">
        <p>{{message}}</p>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->