<span class="remove csui-icon conws-icon-cross" data-id="{{id}}" title="{{removeParticipant}}"
    aria-label="{{removeParticipantAria}}"></span>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->