<div class="conws-addoreditrole-roleparticipants">
  <div class="conws-addoreditrole-roleparticipants-header"></div>
  <div class="conws-addoreditrole-roleparticipants-body">
    <div class="conws-addoreditrole-roleparticipants-left">
      <div class="conws-addoreditrole-roleparticipants-userpicker-title">
        {{title}}
      </div>
    </div>
    <div class="conws-addoreditrole-roleparticipants-right">
      <div class="conws-addoreditrole-roleparticipants-search">
        <div class="conws-addoreditrole-roleparticipants-userpicker">
          
        </div>
      </div>
    </div>
  </div>
  <div class="conws-addoreditrole-roleparticipants-members-body">
    <div class="conws-addoreditrole-roleparticipants-members">
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->