<div class="binf-panel hero">
  <h1>Open Office Document Test Page</h1>
  <p>When clicking the open button below, the browser must open the document in a new tab</p>
</div>
<div class="binf-container-fluid">
  <div class="binf-row">
    <div class="binf-col-md-12">
      <button class="binf-btn binf-btn-default csui-test-button-open-xls">Open Excel
        Document</button>
    </div>
  </div>
  <div class="binf-row">
    <div class="binf-col-md-12">
      <button class="binf-btn binf-btn-default csui-test-button-open-ppt">Open PowerPoint Document</button>
    </div>
  </div>
  <div class="binf-row">
    <div class="binf-col-md-12">
      <button class="binf-btn binf-btn-default csui-test-button-open-pdf">Open PDF Document</button>
    </div>
  </div>
  <div class="binf-row">
    <div class="binf-col-md-12">
      <button class="binf-btn binf-btn-default csui-test-button-open-jpg">Open JPG Document</button>
    </div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->