
  <div class="binf-modal-dialog">
    <div class="binf-modal-content csui-video">
      <video  preload="none"
             poster="{{videoPoster}}"
             controls="controls">
        <source
          src="{{videoSrc}}"
          type="video/mp4">
        </source>
      </video>

    </div>
  </div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->