<div class="wfstatus-assignee">
  <div class="wfstatus-assignee-name" title="{{assigneeName}}">{{assigneeName}}</div>
  {{#if assigneeCount }}+
    <span class="wfstatus-assignee-count">{{assigneeCount}}</span>
  {{/if}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->