<div class="wfstatus-currentstep">
  <div class="wfstatus-currentstep-name" title="{{currentStepName}}">{{currentStepName}}</div>
  {{#if remainingStepCount }}+
    <span class="wfstatus-remaining-step-count">{{remainingStepCount}}</span>
  {{/if}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->