<div class="cs-more tile-expand">
  <div class="icon circular icon-tileExpand" title="{{expandIconTitle}}" aria-label="{{expandIconAria}}" role="button"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->