<form class="search-box binf-hidden">
  <input class="search" type="search" placeholder="{{searchPlaceholder}}" style="display: none">
  <span class="clearer csui-icon formfield_clear"></span>
</form><span class="icon icon-search" title="{{searchIconTitle}}" aria-label="{{searchIconAria}}" role="button"></span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->